body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
  }

form {
    text-align: center;
    margin: 20px auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.input:focus {
    transform: scale(1.05);
}

.search-form {
    display: flex;
    position: relative;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out;

  }


  .search-form button[type='submit'] {
    padding: 10px 20px;
    margin-left: 10px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out;
  }

.search-form button[type='submit']::before,
.search-form input[type='text']::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  border: 2px solid #f52e2e;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.search-form button[type='submit']:hover,
.search-form input[type='text']:hover {
  border-color: #f52e2e;
  box-shadow: 0px 3px 20px #f52e2e;
}

button[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover,
.btn:focus {
    background-color: #6f00ff ;
    transform: scale(1.05);
    transition: 250ms;
}

/* Кнопка для завантаження наступної групи */
.load-more {
    padding: 10px 20px;
    margin: 20px 10px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    align-self: center;
  }


.load-more:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
 
.load-more[disabled]::before {
 opacity: 0;
 animation: none;
  }


  
  .info {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    color: #7e5775;
  }
  
  .photo-card img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .photo-card {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    width: 300px;
  }
  
  .photo-card::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 30px;
    border: 2px solid #f52e3f;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .photo-card:hover {
    border-color: #f52e3f;
    box-shadow: 0px 3px 20px #f52e3f;
  }
  








  

  

  


  